* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: white;
    background-color: black;
    font-family:'Courier New', Courier, monospace;
    margin-top: 40px;
}

.App {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tareas-logo-contenedor {
    width: 100%;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tareas-logo {
    width: 500px;
    height: 200px;
    border-radius: 26px;
}

.tareas-lista-principal {
    width: 600px;
    min-height: 500px;
    background-color: #acacaf;
    padding: 25px;
    margin: 10px; 
    border-radius: 26px;
}

h1 {
    color: #1b1b32;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 20px 0;
}